In [ ]:
from langchain_community.utilities import SQLDatabase
from langchain.llms import Ollama

In [2]:
db_path = "data/sample.db"
db = SQLDatabase.from_uri(f"sqlite:///{db_path}")
llm = Ollama(base_url="http://localhost:11434",model="project")
llm.invoke("Who are you")
print(db.get_usable_table_names())

['maintenance', 'universityconfigurations']

In [6]:
from vanna.ollama import Ollama
from vanna.chromadb import ChromaDB_VectorStore

class MyVanna(ChromaDB_VectorStore, Ollama):
    def __init__(self, config=None):
        ChromaDB_VectorStore.__init__(self, config=config)
        Ollama.__init__(self, config=config)

vn = MyVanna(config={'model': 'gemma:2b'})

In [9]:
vn.connect_to_sqlite('my-database.sqlite')

In [10]:
df_ddl = vn.run_sql("SELECT type, sql FROM sqlite_master WHERE sql is not null")

for ddl in df_ddl['sql'].to_list():
  vn.train(ddl=ddl)

Adding ddl: CREATE TABLE sqlite_sequence(name,seq)

/Users/jijovaliyaveettil/.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx.tar.gz: 100%|██████████| 79.3M/79.3M [00:48<00:00, 1.71MiB/s]

Adding ddl: CREATE TABLE "maintenance" (
    Maintenance_ID INTEGER PRIMARY KEY,
    Base_Station TEXT NOT NULL,
    Maintenance_Date TEXT NOT NULL,
    Technician_Name TEXT NOT NULL,
    Description TEXT,
    Duration_hours REAL NOT NULL,
    Cost REAL NOT NULL,
    FOREIGN KEY (Base_Station) REFERENCES universityconfigurations(Base_Station)
)
Adding ddl: CREATE TABLE "universityconfigurations" (
    ID INTEGER NOT NULL,
    Base_Station TEXT NOT NULL,
    Location TEXT NOT NULL,
    Bandwidth REAL NOT NULL,
    Transmission_Power REAL NOT NULL,
    Frequency_Band REAL NOT NULL,
    Coverage_Area REAL NOT NULL,
    Maximum_Capacity INTEGER NOT NULL,
    Operational_Status TEXT NOT NULL,
    Deployment_Date TEXT NOT NULL,
    PRIMARY KEY (Base_Station)
)

In [11]:
vn.train(ddl="""
    CREATE TABLE IF NOT EXISTS my-table (
        id INT PRIMARY KEY,
        name VARCHAR(100),
        age INT
    )
""")

# Sometimes you may want to add documentation about your business terminology or definitions.
vn.train(documentation="Our university defines base stations as BS-XXX, where XXX is the base station number.")

Adding ddl:
    CREATE TABLE IF NOT EXISTS my-table (
        id INT PRIMARY KEY,
        name VARCHAR(100),
        age INT
    )

Adding documentation....

'ff9ba045-1fd7-5636-83b9-669ecdf8976d-doc'

In [12]:
training_data = vn.get_training_data()
training_data

,id,question,content,training_data_type
0,40260ea4-7947-51dd-9961-8a55d48ba286-ddl,None,"CREATE TABLE ""maintenance"" (\n Maintenance_...",ddl
1,4aafa9de-6443-5409-86f9-5d581327d6a0-ddl,None,\n CREATE TABLE IF NOT EXISTS my-table (\n ...,ddl
2,4ea4e13c-6122-5334-8f14-f9d3563e9591-ddl,None,"CREATE TABLE ""universityconfigurations"" (\n ...",ddl
3,ea84418b-1a28-59b4-a1f4-2fb674208adc-ddl,None,"CREATE TABLE sqlite_sequence(name,seq)",ddl
0,ff9ba045-1fd7-5636-83b9-669ecdf8976d-doc,None,Our university defines base stations as BS-XXX...,documentation

In [14]:
vn.ask(question="How many base stations are there ?")

Number of requested results 10 is greater than number of elements in index 1, updating n_results = 1
Number of requested results 10 is greater than number of elements in index 4, updating n_results = 4
Number of requested results 10 is greater than number of elements in index 1, updating n_results = 1

SQL Prompt: [{'role': 'system', 'content': 'You are a SQLite expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \nCREATE TABLE "universityconfigurations" (\n    ID INTEGER NOT NULL,\n    Base_Station TEXT NOT NULL,\n    Location TEXT NOT NULL,\n    Bandwidth REAL NOT NULL,\n    Transmission_Power REAL NOT NULL,\n    Frequency_Band REAL NOT NULL,\n    Coverage_Area REAL NOT NULL,\n    Maximum_Capacity INTEGER NOT NULL,\n    Operational_Status TEXT NOT NULL,\n    Deployment_Date TEXT NOT NULL,\n    PRIMARY KEY (Base_Station)\n)\n\nCREATE TABLE "maintenance" (\n    Maintenance_ID INTEGER PRIMARY KEY,\n    Base_Station TEXT NOT NULL,\n    Maintenance_Date TEXT NOT NULL,\n    Technician_Name TEXT NOT NULL,\n    Description TEXT,\n    Duration_hours REAL NOT NULL,\n    Cost REAL NOT NULL,\n    FOREIGN KEY (Base_Station) REFERENCES universityconfigurations(Base_Station)\n)\n\nCREATE TABLE sqlite_sequence(name,seq)\n\n\n    CREATE TABLE IF NOT EXISTS my-table (\n        id INT PRIMARY KEY,\n        name VARCHAR(100),\n        age INT\n    )\n\n\n\n===Additional Context \n\nOur university defines base stations as BS-XXX, where XXX is the base station number.\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can\'t be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQLite-compliant and executable, and free of syntax errors. \n'}, {'role': 'user', 'content': 'How many base stations are there ?'}, {'role': 'assistant', 'content': 'SELECT COUNT(*) AS num_base_stations\nFROM universityconfigurations'}, {'role': 'user', 'content': 'How many base stations are there ?'}]
Info: Ollama parameters:
model=gemma:2b,
options={},
keep_alive=None
Info: Prompt Content:
[{"role": "system", "content": "You are a SQLite expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \nCREATE TABLE \"universityconfigurations\" (\n    ID INTEGER NOT NULL,\n    Base_Station TEXT NOT NULL,\n    Location TEXT NOT NULL,\n    Bandwidth REAL NOT NULL,\n    Transmission_Power REAL NOT NULL,\n    Frequency_Band REAL NOT NULL,\n    Coverage_Area REAL NOT NULL,\n    Maximum_Capacity INTEGER NOT NULL,\n    Operational_Status TEXT NOT NULL,\n    Deployment_Date TEXT NOT NULL,\n    PRIMARY KEY (Base_Station)\n)\n\nCREATE TABLE \"maintenance\" (\n    Maintenance_ID INTEGER PRIMARY KEY,\n    Base_Station TEXT NOT NULL,\n    Maintenance_Date TEXT NOT NULL,\n    Technician_Name TEXT NOT NULL,\n    Description TEXT,\n    Duration_hours REAL NOT NULL,\n    Cost REAL NOT NULL,\n    FOREIGN KEY (Base_Station) REFERENCES universityconfigurations(Base_Station)\n)\n\nCREATE TABLE sqlite_sequence(name,seq)\n\n\n    CREATE TABLE IF NOT EXISTS my-table (\n        id INT PRIMARY KEY,\n        name VARCHAR(100),\n        age INT\n    )\n\n\n\n===Additional Context \n\nOur university defines base stations as BS-XXX, where XXX is the base station number.\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQLite-compliant and executable, and free of syntax errors. \n"}, {"role": "user", "content": "How many base stations are there ?"}, {"role": "assistant", "content": "SELECT COUNT(*) AS num_base_stations\nFROM universityconfigurations"}, {"role": "user", "content": "How many base stations are there ?"}]
Info: Ollama Response:
{'model': 'gemma:2b', 'created_at': '2024-08-16T00:05:26.093366Z', 'message': {'role': 'assistant', 'content': '```sql\nSELECT COUNT(*) AS num_base_stations\nFROM universityconfigurations;\n```'}, 'done_reason': 'stop', 'done': True, 'total_duration': 6923764500, 'load_duration': 49559500, 'prompt_eval_count': 546, 'prompt_eval_duration': 6149510000, 'eval_count': 20, 'eval_duration': 675686000}
LLM Response: ```sql
SELECT COUNT(*) AS num_base_stations
FROM universityconfigurations;
```
Info: Output from LLM: ```sql
SELECT COUNT(*) AS num_base_stations
FROM universityconfigurations;
```
Extracted SQL: SELECT COUNT(*) AS num_base_stations
FROM universityconfigurations
SELECT COUNT(*) AS num_base_stations
FROM universityconfigurations
   num_base_stations
0                 10

Insert of existing embedding ID: 03cc2f9f-405e-58ed-827f-51a25f92cf8e-sql
Add of existing embedding ID: 03cc2f9f-405e-58ed-827f-51a25f92cf8e-sql

Info: Ollama parameters:
model=gemma:2b,
options={},
keep_alive=None
Info: Prompt Content:
[{"role": "system", "content": "The following is a pandas DataFrame that contains the results of the query that answers the question the user asked: 'How many base stations are there ?'\n\nThe DataFrame was produced using this query: SELECT COUNT(*) AS num_base_stations\nFROM universityconfigurations\n\nThe following is information about the resulting pandas DataFrame 'df': \nRunning df.dtypes gives:\n num_base_stations    int64\ndtype: object"}, {"role": "user", "content": "Can you generate the Python plotly code to chart the results of the dataframe? Assume the data is in a pandas dataframe called 'df'. If there is only one value in the dataframe, use an Indicator. Respond with only Python code. Do not answer with any explanations -- just the code."}]
Info: Ollama Response:
{'model': 'gemma:2b', 'created_at': '2024-08-16T00:05:32.129398Z', 'message': {'role': 'assistant', 'content': "```python\nimport plotly.graph_objects as go\nimport pandas as pd\n\n# Generate the plotly figure and axis\nfig, ax = go.subplots()\n\n# Add a scatter plot to the axis\nax.scatter(df['num_base_stations'], 'index', data=df, label='Number of Base Stations')\n\n# Set plot labels and legend\nax.set_title('Number of Base Stations')\nax.set_xlabel('Number of Base Stations')\nax.set_ylabel('Count')\nax.legend(loc='center left', bbox_to_anchor=(1, 0.5))\n\n# Show the plot\nfig.show()\n```"}, 'done_reason': 'stop', 'done': True, 'total_duration': 5542891958, 'load_duration': 76977417, 'prompt_eval_count': 170, 'prompt_eval_duration': 431970000, 'eval_count': 145, 'eval_duration': 4985069000}
Couldn't run plotly code:  Mime type rendering requires nbformat>=4.2.0 but it is not installed

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
Traceback (most recent call last):
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/vanna/base/base.py", line 1708, in ask
    img_bytes = fig.to_image(format="png", scale=2)
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/plotly/basedatatypes.py", line 3772, in to_image
    return pio.to_image(self, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/plotly/io/_kaleido.py", line 143, in to_image
    img_bytes = scope.transform(
                ^^^^^^^^^^^^^^^^
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/kaleido/scopes/plotly.py", line 153, in transform
    response = self._perform_transform(
               ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/kaleido/scopes/base.py", line 293, in _perform_transform
    self._ensure_kaleido()
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/kaleido/scopes/base.py", line 198, in _ensure_kaleido
    raise ValueError(message)
ValueError: Failed to start Kaleido subprocess. Error stream:

/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/kaleido/executable/kaleido: line 4: cd: /Users/jijovaliyaveettil/Desktop/Research: No such file or directory
/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/kaleido/executable/kaleido: line 5: ./bin/kaleido: No such file or directory


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/vanna/base/base.py", line 1711, in ask
    fig.show()
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/plotly/basedatatypes.py", line 3410, in show
    return pio.show(self, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/jijovaliyaveettil/Desktop/Research Project/SQL/venv/lib/python3.12/site-packages/plotly/io/_renderers.py", line 394, in show
    raise ValueError(
ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed